$icon-font-path: '../fonts/';

@import 'https://fonts.googleapis.com/css?family=Michroma:100,400,700';


@font-face {
    font-family: 'microgramma_d_extendedbold';
    src: url('../fonts/microgramma_d_extended_bold-webfont.woff2') format('woff2'),
         url('../fonts/microgramma_d_extended_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'microgramma_d_extendedmedium';
    src: url('../fonts/microgramma_d_extended_medium-webfont.woff2') format('woff2'),
         url('../fonts/microgramma_d_extended_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@import "_variables.scss";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html { 
}

/* Space out content a bit */
body {
  padding-top: 100px;
  padding-bottom: 20px;
font-weight:100;
//text-transform: uppercase;
letter-spacing: 0.15em;
}

.logo {
max-width: 200px;
	margin-top: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
padding-top: 26px;	
  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

#nav {
/*
background: url(/images/abstract-background-pink.jpg); 
background-image:url(/images/header_bg.jpg);
*/
min-height: 40px;
border: 0;
}
.navbar {
border-bottom: 0 dotted $gray-base;
/* border-bottom: 1px dotted $gray-base; */
background-color: $k_black;
}

.main-nav a {
font-size: 20px;
padding-top: 200px;
color: $nav-font;
}

.main-nav a:hover {
	color: $k_white_off;
	text-decoration : underline ; 
}

.navbar-toggle {
	border: white 0 solid;
	margin: 0 0 10px 0;
}

button.navbar-toggle:hover {
	background-color: #fff;
}




/* Custom page footer */
.footer {
margin-top: 40px;	
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}


.socialicons {
font-size: 24px;
padding: 0 ;
display: none;
}

.socialicons a {
color: $nav-font;
}
.socialicons a:hover {
color: $k_grey_light ;
}

div.bottomicons {
padding: 50px;
display: block; 
}

.topicons {
	display: none
}

ul.nav.main-nav.nav-pills {
	display: none;
	}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 500px) {

	.socialicons {
	display: block;
	}
	.bottomicons {
	display: block;
	}
	.topicons {
	display: none
	}
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
	.container {
	  max-width: 730px;
	}

	.container-wide {
	max-width : 960px;
	}

	/* Remove the padding we set earlier */
	.header,
	.marketing,
	.footer {
	  padding-left: 0;
	  padding-right: 0;
	}

	/* Space out the masthead */
	.header {
	  margin-bottom: 10px;
	}

	/* Remove the bottom border on the jumbotron for visual effect */
	.jumbotron {
	  border-bottom: 0;
	}
	ul.nav.main-nav.nav-pills {
	display: block;
	}

}

.hero , .spotify {
border-radius: $border-radius-large ;
}  


.signup {
padding-top: 20px;
}

div.mce_inline_error {
color: red;
background-color: none;
font-size: 12px;

}

.gig {
padding: 15px 0;
margin: 0;
border-bottom: 1px dotted darken($nav-font, 70%);
}

.gig-heading {
font-weight: bold;
}

.gig {
position: relative;
}

h3 {
padding: 30px 0 10px 0;
color: $brand-primary;
}

.row {
text-align: center;
}

#instafeed img {
padding: 15px;
}

a:hover {
	text-decoration: underline ;
	color: $brand-secondary;
}

.soldout, .soldout:hover {
color: red;
}

#music, #news, #feels, #tickets , #shop , #home {
	margin-top: -50px;
	padding-top: 50px;
}

div.collapse  {
background-image:none;
}

/*
div.collapse.in , div.collapse.collapsing  {
background-image:url(/images/header_bg.jpg);
}
div.collapse.in ul.list-inline li {
display: block;
}
*/

.navbar-collapse {
border: 0;
}

nav-NO {
padding-bottom: 150px;
}

.nav.nav-pills li a {
	padding: 5px 10px; 
}

.nav.nav-pills li a:hover , .nav.nav-pills li a:focus {
	background: none;
}

.nav.nav-pills li a:hover {
text-decoration: underline ;
}

nav.navbar.navbar-inverse.navbar-fixed-top.expandedNav{
	padding-bottom: 200px;
}

ul, ul.nav li {
    text-align: right;
}

#kilter-hero-head {
	width: 100%;
   margin-top: -20px;
}

.venue, .location, .tickets {
border : red 0 solid;
height: 100%;
}

.myverttext {
    position: relative;
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
    border: 1px solid green;
}

hr {
background-image: url(/images/hr.png);
display: block;
margin-top: 0.5em;
margin-bottom: 0.5em;
margin-left: auto;
margin-right: auto;
border-style: inset;
border-width: 0;
height: 8px;
}

.agencies {
padding: 20px;
}

#etcetc , #nuffsaid , #giphy {
margin: 0 40px;
}

#etcetc:hover , #nuffsaid:hover {

}
div.vertical-align {
    display: flex;
    display: -ms-flexbox; // IE10 support
    align-items: center;
}


div.callout-container {
display: inline-block;	
vertical-align: middle;
float : none;
}


h2.callout {
margin: 0;
padding: 0;
//border: 1px solid red;
}
h3.callout {
padding: 0;
//margin: 10px 0 40px 0;
margin: 40px 0;
//border: 1px solid yellow;
}




