$icon-font-path: '../fonts/';

@import 'https://fonts.googleapis.com/css?family=Roboto:100,400,700';

@import "_variables.scss";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html { 
  /*
  background: url(/images/abstract-background-pink.jpg) no-repeat center center fixed; 
  background: #000 url(/images/black_background_wood_texture-800x600.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  */
}

/* Space out content a bit */
body {
  padding-top: 100px;
  padding-bottom: 20px;
  /*
  background-image:url(/images/texture_1.jpg);
  background: #000 url(/images/abstract-background-pink.jpg) no-repeat center center fixed; 
  background: #000 url(https://c1.staticflickr.com/9/8567/16662707285_c3ce122abc_b.jpg) no-repeat center center fixed; 
  background: #000 url(http://img08.deviantart.net/e1a9/i/2005/260/e/7/spider_web_texture_by_doodlebestock.jpg) no-repeat center fixed; 
  background: #000 url(https://c1.staticflickr.com/9/8567/16662707285_c3ce122abc_b.jpg) no-repeat center center fixed; 
  background: #000 url(/images/kilter_crowd_bw.jpg) no-repeat center center fixed; 
  background: #000 url(/images/black_background_wood_texture-800x600.jpg) no-repeat center center fixed; 
  background-size: cover;
background: none;	  
   */
font-weight:100;
text-transform: uppercase;
letter-spacing: 0.15em;
}

.logo {
max-width: 200px;
	margin-top: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
padding-top: 26px;	
  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

#nav {
/*
background: url(/images/abstract-background-pink.jpg); 
background-image:url(/images/header_bg.jpg);
*/
min-height: 40px;
border: 0;
}
.navbar {
border-bottom: 0 dotted $gray-base;
/* border-bottom: 1px dotted $gray-base; */
background-color: $bg-blue;
}

.main-nav a {
font-size: 20px;
padding-top: 200px;
color: $nav-font;
}

.main-nav a:hover {
	color: $brand-primary;
}

.navbar-toggle {
	border: white 0 solid;
	margin: 0 0 10px 0;
}

button.navbar-toggle:hover {
	background-color: #fff;
}




/* Custom page footer */
.footer {
margin-top: 40px;	
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}


#socialicons {
font-size: 24px;
padding: 0 ;
display: none;
}

#socialicons a {
color: $nav-font;
}
#socialicons a:hover {
color: $dark-blue;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 500px) {

	#socialicons {
	display: block;
	}
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  .container-wide {
  max-width : 960px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 10px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.hero , .spotify {
border-radius: $border-radius-large ;
}  


#signup {
padding-top: 20px;
}

.gig {
padding: 15px 0;
margin: 0;
border-bottom: 1px dotted darken($nav-font, 70%);
}

.gig-heading {
font-weight: bold;
}

.gig {
position: relative;
}

h3 {
padding: 30px 0 10px 0;
color: $brand-primary;
}

.row {
text-align: center;
}

#instafeed img {
padding: 15px;
}

a:hover {
	text-decoration: none;
	color: $brand-secondary;
}

.soldout, .soldout:hover {
color: red;
}

#music, #news, #feels, #tickets , #shop , #home {
	margin-top: -50px;
	padding-top: 50px;
}

div.collapse  {
background-image:none;
}

/*
div.collapse.in , div.collapse.collapsing  {
background-image:url(/images/header_bg.jpg);
}
div.collapse.in ul.list-inline li {
display: block;
}
*/

.navbar-collapse {
border: 0;
}

nav-NO {
padding-bottom: 150px;
}

.nav.nav-pills li a {
	padding: 5px 10px; 
}

.nav.nav-pills li a:hover , .nav.nav-pills li a:focus {
	background: none;
}

nav.navbar.navbar-inverse.navbar-fixed-top.expandedNav{
	padding-bottom: 200px;
}

ul, ul.nav li {
    text-align: right;
}

#kilter-hero-head {
	width: 100%;
   margin-top: -20px;
}

.venue, .location, .tickets {
border : red 0 solid;
height: 100%;
}

.myverttext {
    position: relative;
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
    border: 1px solid green;
}

hr {
background-image: url(/images/hr.png);
display: block;
margin-top: 0.5em;
margin-bottom: 0.5em;
margin-left: auto;
margin-right: auto;
border-style: inset;
border-width: 0;
height: 8px;
}

.agencies {
padding: 20px;
}

#etcetc , #nuffsaid , #giphy {
margin: 0 40px;
}

#etcetc:hover , #nuffsaid:hover {

}




